@import "style-variables.less";
@import "style-mixins.less";
@import "variables.less";

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLT95Black.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Roman.otf");
    font-weight: 700;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Book.otf");
    font-weight: 400;
}
@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Light.otf");
    font-weight: 300;
}


body {
	font-family: @font-primary;
	font-weight: 400;
}

h1, h2, h3, h4, h5 {
	font-family: @font-primary;
	text-transform: uppercase;
	font-weight: 800;
}

h1 {
	letter-spacing: 6px;
}

h2 {
	letter-spacing: 4px;
}

p {
	font-size: 1.5em;
	margin-bottom: 1.5em;
	color: @color-primary-dark;
	font-weight: 300;
}

textarea {
	resize:none;
	min-height: 10em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  .make-placeholder(@color-primary, @font-primary);
}
::-moz-placeholder { /* Firefox 19+ */
  .make-placeholder(@color-primary, @font-primary);
}
:-ms-input-placeholder { /* IE 10+ */
  .make-placeholder(@color-primary, @font-primary);
}
:-moz-placeholder { /* Firefox 18- */
  .make-placeholder(@color-primary, @font-primary);
}

.btn {
	.border-radius(0px);
	border:none;
	font-weight: 700;
	text-transform: uppercase;

	&.btn-lg {
		font-size: 1.1em;
		padding:.9em 2em;
	}
}

.form-control {
	background: #f2f3f3;
	border: none;
	border-bottom: 4px solid #c9d7e3;
	.border-radius(0px);
	.box-shadow(none);
	padding: 1em;
	height:44px;

	&.error {
		background: #fff0f0;
    	border-bottom-color: #ca7171;
	}
}

section {
	padding:4em 0;
}

.icons {
	position: absolute;
	top:0;
	margin:1.2em;
	.icon {
		.border-radius(50%);
		width: 40px;
		height: 40px;
		margin:.3em;
		display: inline-block;

		&.icon-facebook {background-color: #256299}
		&.icon-twitter {background-color: #378bb7}
		&.icon-instagram {background-color: #246485}
	}
}

.header {
	&.cover {
		background-image:url("../img/cover.png");
		background-size: cover;
		padding: 10em 0 12em;

		h1 {
			color:white;
			margin:auto;
			padding:1.5em 0 0.5em;
			text-align: center;
			font-size: 3em;
		}

		.img-responsive {
			margin:auto;
			display: block;
		}

		.spacer {
			height: 1px;
			background-color: white;
			width: 90%;
			max-width: 45em;
			margin:auto;
		}
	}
}

.about {
	.spacer {
		background-color: @color-primary;
		height: 8px;
	}
	h2 {
		color:@color-primary;
		font-size: 1.5em;
		margin-bottom: 2em;

		@media (max-width: @screen-xs-max) {
			text-align: center;
		}
	}
}

.clients {
	text-align: center;
	position: relative;
	&.cover {
		background-image:url("../img/cover_clients.jpg");
		background-size: cover;
		&:before {
			content:'';
			.abs-center();
			background-color: fade(@color-primary-dark, 50%);
		}
	}

	.container-fluid {
		z-index: 1;
		position: relative;
	}

	h1 {
		border-bottom:1px solid white;
		color:white;
		padding:0 0 .5em;
		margin-bottom: 1em;
		width: auto;
		display: inline-block;
	}

	.square {
		padding-bottom: 100%;
		margin: 1em 0;

			&.grand-union {background: fade(@color-primary-darker, 95%) url("../img/logo_grand.png") no-repeat center center}
			&.kings-college {background: fade(@color-primary-darker, 95%) url("../img/logo_kings.png") no-repeat center center}
			&.peldonrose {background: fade(@color-primary-darker, 95%) url("../img/logo_peldonrose.png") no-repeat center center}
			&.studio-output {background: fade(@color-primary-darker, 95%) url("../img/logo_studio.png") no-repeat center center}
			&.barclays {background: fade(@color-primary-darker, 95%) url("../img/logo_barclays.png") no-repeat center center}
			&.ministry {background: fade(@color-primary-darker, 95%) url("../img/logo_ministry.png") no-repeat center center}
			&.freeview {background: fade(@color-primary-darker, 95%) url("../img/logo_freeview.png") no-repeat center center}
			&.sony {background: fade(@color-primary-darker, 95%) url("../img/logo_sony.png") no-repeat center center}
	}
}

.contact {
	h1 {
		border-bottom:1px solid @color-primary-dark;
		padding:0 0 .5em;
		margin-bottom: 1em;
		display: inline-block;

		@media (max-width: @screen-xs-max) {
			text-align: center;
		}
	}

	span {
		font-weight: 700;
		text-transform: uppercase;

		&.text-danger {
		    position: absolute;
		    font-size: 11px;
		    margin-top: -15px;
		}
	}

	.contacts {
		@media (max-width: @screen-xs-max) {
			text-align: center;
		}
	}

	form {
		margin-top:1em;
		max-width: 320px;

		.form-control {
			margin-bottom: 1em;
		}

		.btn {
			margin-top:1em;
			display: block;
			width: 100%;
		}

		@media (max-width: @screen-xs-max) {
			margin:auto;
		}
	}
}

footer {
	font-size: .9em;
	color:white;
	padding: 2em 0;
	background: darken(@color-primary-darker, 40%);
	span {
		float:left;
	}
	a {
		color:white;
		float:right;
	}
}